/* Font Custom */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');


/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto Slab', serif;
  color: #333;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Cd-Section */
.cd-section {
  height: 100vh;
}
.cd-section > div {
  height: 100vh;
  background-color: #eee;
}

/* Main Header */
header {
  width: 100%;
  height: 80px;
  color: #ddd;
}
.main {
  padding-top: 20px;
  padding-left: 25px;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.main-nav {
  position: relative;
}
.main-nav-inner {
  display: none;
}
.main-nav-btn {
  position: absolute;
  display: flex;
  margin-left: 20px;
  font-size: 28px;
  font-weight: 600;
  z-index: 3;
}
.main-nav-btn label {
  margin-left: 40px;
}
input[id=tabs1]:checked + .main-nav-btn label[for=tabs1],
input[id=tabs2]:checked + .main-nav-btn label[for=tabs2],
input[id=tabs3]:checked + .main-nav-btn label[for=tabs3] {
color: #333;
}
.main-nav-btn label:hover {
  color: #333;
}

/* Main page*/
.main-inner {
  position: relative;
}
.main-bg {
  background: url('/img/5026563-ver1.png') no-repeat center center;
  height: 100vh;
}
.main-inner .main-text {
  position: absolute;
  top: 50%; 
  left: 25%;
  transform: translateY(-50%);
  color: #333;
}
.main-text h3 {
  font-size: 4.5em;
}

/* about page */
.about-inner {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #f5f3ff;
}
.about-inner .main-bg {
  opacity: 0.5;
}
.about-inner .about-content {
  width: 70%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.about-content .about-pic {
  width: 50%;
  float: left;
}
.about-pic img {
  display: inline-block;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
}
.about-content .about-text {
  width: 50%;
  float: left;
  color: #333;
  font-size: 1.5em;
  padding: 0 20px;
}
.about-text h2 {
  font-weight: 600;
  text-align: center;
}
.about-text p {
  line-height: 1.5em;
}

/* Portfolio Page */
.portfolio-inner {
  width: 100%;
  position: relative;
  background-color: #f5f3ff;
}
.portfolio-inner .main-bg {
  opacity: 0.5;
}
.portfolio-info {
  width: 80%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.portfolio-info h2 {
  font-weight: 600;
  font-size: 2.5em;
  padding-bottom: 20px;
}
.slick-slider {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1em;
  line-height: 1.5em;
  overflow: hidden;
}
.slick-slider .slider {
  width: 100%;
}
.slider h4 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 5px;
}
.slider .slider-pic {
  display: inline-block;
  width: 50%;
  overflow: hidden;
}
.slick-slider a {
  display: inline-block;
}
.slider-pic img {
  display: inline-block;
  text-align: center;
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #777;
}