/* Font Custom */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');


/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto Slab', serif;
  color: #333;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Cd-Section */
.cd-section {
  height: 100vh;
}
.cd-section > div {
  height: 100vh;
  background-color: #eee;
}

.container {
  position: relative;
}
/* Main Header */
header {
  width: 100%;
  height: 80px;
  color: #ddd;
}
.main {
  padding-top: 20px;
  padding-left: 25px;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.main-nav {
  position: relative;
}
.main-nav-btn input {
  display: none;
  } 
.main-nav-btn {
  position: absolute;
  display: flex;
  margin-left: 20px;
  font-size: 28px;
  font-weight: 600;
  z-index: 3;
}
.main-nav-btn label {
  margin-left: 40px;
}
.main-nav-btn label:hover {
  color: #333;
}
input[id="tab1"]:Checked ~ label[for="tab1"],
input[id="tab2"]:Checked ~ label[for="tab2"],
input[id="tab3"]:Checked ~ label[for="tab3"] {
color: #333;
}

/* Main page*/
.main-inner {
  position: relative;
}
.main-bg {
  background: url('/img/5026563-ver1.png') no-repeat center center;
  height: 100vh;
}
.main-inner .main-text {
  position: absolute;
  top: 50%; 
  left: 25%;
  transform: translateY(-50%);
  color: #333;
}
.main-text h3 {
  font-size: 4.5em;
  animation: Font 2s ease-in both;
} 

/* Animation */
@keyframes Font {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* about page */
.about-inner {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(180deg, rgba(245,243,255,0.4) 0%, rgb(208, 192, 228) 100%);
}
.about-inner .main-bg {
  opacity: 0.5;
}
.about-inner .about-content {
  width: 70%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.about-content .about-pic {
  width: 50%;
  float: left;
}
.about-pic img {
  display: inline-block;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
}
.about-content .about-text {
  width: 50%;
  float: left;
  color: #333;
  font-size: 1.5em;
  padding: 0 20px;
}
.about-text h2 {
  font-weight: 600;
  text-align: center;
}
.about-text p {
  line-height: 1.5em;
}

/* Portfolio Page */
.portfolio-inner {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, rgba(245,243,255,0.4) 0%, rgb(166, 199, 226) 100%);
}
.portfolio-inner .main-bg {
  opacity: 0.5;
}
.portfolio-info {
  width: 80%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.portfolio-info h2 {
  font-weight: 600;
  font-size: 2.5em;
  padding-bottom: 20px;
}
/* Slick-Slider */
.slick-slider {
  width: 70%;
  height: 820px;
  display: block;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1em;
  line-height: 1.5em;
  overflow: hidden;
}
.slick-slider .slider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.slider h4 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}
.slider .slider-pic {
  display: inline-block;
  width: 100%;
  height: 650px;
  overflow: hidden;
}
.slider .text {
  height: 150px;
}
.slick-slider a {
  display: inline-block;
}
.slider-pic img {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: 1;
  color: #777;
}

/* buttons */
.bt_btn {
  width: 50px;
  height: 50px;
  background-color: #555;
  display: inline-block;
  position: absolute;
  bottom: 2%;
  right: 35px;
  border-radius: 25px;
  z-index: 2;
  transition: 0.75s;
}
.bt_btn:hover {
  width:  150px;
  display: inline-block;
  background-color: #333;
}
.bt_btn a {
  display: inline-block;
  position: relative;
}
.bt_btn i {
  font-size: 25px;
  color: #ddd;
  text-align: right;
  position: absolute;
  top: 10px;
  left: 14.5px;
}
.bt_btn:hover i::after {
  content: 'Click';
  font-size: 20px;
  margin-left: 8px;
  letter-spacing: 5px;
}