@import url(/css/variable.css);
@import url(/css/reset.css);

/* Main Page */
#main-header {
  width: 100%;
  height: 94vh;
  overflow: hidden;
  position: relative;
}
.mian-pic {
  width: 100%;
  height: inherit;
}
#main-header ._1{
  width: 100%;
  height: 100%;
  background: url(/img/tetiana-shadrina-BgDvAapofe0-unsplash.jpg) no-repeat center center;
  background-size: cover;
  opacity: 0.5;
}
#main-header .main_Txt {
  width: 800px;
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 6em;
  text-align: right;
  font-family: var(--logo-en);
  color: var(--grannyapple);
  transition: 1.5s;
}

/* Navigation */
nav {
  height: 80px;
  padding: 20px;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.25);
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 25px;
  background-color: transparent;
  top: 0;
}
.Logo {
  margin-right: 20px;
  display: inline-block;
  font-size: 2.2em;
  font-family: var(--logo-en);
  color: var(--grannyapple);
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) ;
  line-height: 1.2em;
}
.Logo a {
  color: var(--grannyapple);
  }
.content-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: var(--primary-en);
  font-size: 1.5em;
  line-height: 1.5em;
}
.gnb {
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 1em;
}
.contact {
  margin-right: 25px;
}
.gnb a,
.contact a  {
  color: var(--dark-black);
}

/* About page */

.about-inner {
  width: 75%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}
.about-contents {
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.about-contents .about-txt {
  height: 50vh;
  font-size: 2.3em;
  font-family: var(--secondary-kr);
  color: var(--dark-black);
}
.about-txt h2 {
  color: var(--light-black);
  font-size: 2.3em;
  margin-bottom: 15px;
}
.hd-txt {
  padding: 0;
  font-family: var(--logo-en);
  font-size: 1.6em;
  margin-bottom: 20px;
}
.about-name {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
}
.about-name p {
  line-height: 2.8em;
}
.about-pic img{
  width: 140%;
  z-index: -1;
}
.about-pic img:hover {
  filter: grayscale(1);
}

/* Web Site page */
.website-inner {
  width: 100%;
  height: 100vh;
  position: relative;
}
.website-inner .web-contents {
  height: auto;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}
.web-content {
  padding: 80px ;
  width: inherit;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.web-content:nth-child(even) {
  width: inherit;
  background-color: rgba(187, 131, 168, 0.25);
}
.website-txt {
  width: 30%;
  font-size: 1.6em;
}
.web-pic img{
  width: 100%;
}

/* mobile page */
.mobile-inner {
  width: 100%;
  height: 100vh;
}
.mobile-inner .mobile-content {
  display: flex;
  flex-direction: row;
}

/* js page */
.js-inner {
  width: 100%;
  height: 100vh;
}
.js-inner .js-contents{
  display: flex;
  flex-direction: row;
}